* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #253F47;
  font-size: 20px;
  line-height: 1.5em;
}
body {
  margin: 0;
  padding: 0;
}
.head-hr {
  border-color: #CCC8C;
  border-width: thin;
}
.body-hr {
  border-color: white;
  border-width: thin;
}
a {
  color: #CCC8C8;
}
.black-background {
  background-color: #030202;
}
.about-me,  body {
  background-color: #cbdbed;
}

.featured-work {
  background-color: #edeff4;
}

.social-link {
  margin: 0 5em 0 0;
}
.github {
  margin: 0;
}
.header-logo {
  color: #226644;
  font-size: 100px;
  font-family: "Times New Roman", Georgia, Serif;
}
.white-text {
  color: #edeff4;
}
.black-text {
  color: black;
}
.name {
  margin-bottom: 5px;
  font-size: 70px;
  font-family: 'Italianno', cursive;
}
.subtitle {
  margin-top: 5px;
}
.nameplate {
  margin-top: 20px;
}
.thicker-font {
  font-weight: 600;
}
.profile-image{

  border: solid #edeff4 1px;
}
.description {
  margin-top: 0;
  margin-right: 0;

}
.project {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 5%;
}
.logos {
  margin-top: 20px;
}
.logo-image {
  width: 150px;
  height: 150px;
  vertical-align: top;
  display: inline-block;
}
.thumbnail {
  padding: 0;
  width: 250px;
  height: 150px;
  display: block;
  margin: auto;
  -webkit-transition: width 0.5s, height 0.5s, box-shadow 0.5s;
  transition: width 0.5s, height 0.5s, box-shadow 0.5s;
}
.thumbnail:hover {
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.projects-head {
  text-align: center;
}
.aboutme-header {
  text-align: center;
  margin-bottom: 30px;
}
li {
  list-style-type: square;
}
.modal-link {
  color: blue;
}
