* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #253F47;
  font-size: 16px;
  line-height: 1.25em;
}
body {
  margin: 0;
  padding: 0;
}
.head-hr {
  border-color: #CCC8C;
  border-width: thin;
}
.body-hr {
  border-color: black;
  border-width: thin;
}
a {
  color: #CCC8C8;
}
.black-background {
  background-color: #030202;
}
.about-me, .featured-work, body {
  background-color: #cbdbed;
}

.social-link {
  margin: 0 5em 0 0;
}
.github {
  margin: 0;
}
.header-logo {
  color: #226644;
  font-size: 100px;
  font-family: "Times New Roman", Georgia, Serif;
}
.gray-text {
  color: #CCC8C8;
}
.black-text {
  color: black;
}
.name {
  margin-bottom: 5px;
}
.subtitle {
  margin-top: 5px;
}
.nameplate {
  margin-top: 20px;
}
.thicker-font {
  font-weight: 600;
}
.profile-image{
  border-radius: 50%;
  border: solid black;
}
.description {
  float: right;
  margin-top: 0;
  margin-right: 0;
}
.project {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.logos {
  margin-top: 20px;
}
.logo-image {
  width: 150px;
  height: 150px;
  vertical-align: top;
  display: inline-block;
}
.thumbnail {
  padding: 0;
  width: 250px;
  height: 150px;
  display: block;
  margin: auto;
}
