@media screen and (max-width:995px) {
  .name {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .header-logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
  }
  .logo-image {
    width:150px;
    height:150px;
  }
  .project {
    margin-top: 10%;
  }
  .profile-image {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 48%;
  }
  .bio-section {
    margin-bottom: 40px;
  }
  .skills-header {
    text-align: left;
  }
}
@media screen and (min-width:996px) {
  .profile-column {
    padding-left: 0;
    margin-left: 0;
  }
  .profile-image {
     width: 250px;
     height: 250px;
     overflow: hidden;
     margin-left: 40%;
     margin-top: -10%;
     border: solid #cbdbed;
     border-radius: 50%;
     border-width: thick;

  }
  .bio-section {
    float: left;
  }
  .skills-section {
    float: right;
    padding-right: 0;


  }
  .description {
    margin-top: -3%;

  }
  .projects-head {
    margin-left: 12%;
  }

}
@media screen and (max-width:760px) {
  .logo-image {
    width: 115px;
    height: 115px;
  }
}
